@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.container {
  width: 100vw !important; 
  max-width: 100vw !important;  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: 'inter', sans-serif;
  overflow-x: hidden; 
}

.hamburger-line{
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1){
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2){
  @apply scale-0;
}

.hamburger-active > span:nth-child(3){
  @apply -rotate-45;
}

[id]{
  scroll-margin-top:80px;
}

.navbar-fixed{
  @apply fixed z-[9999] bg-white; 
  backdrop-filter: blur(10px);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3)
}

.main-title{
  @apply font-semibold text-lg text-primary mb-2
}

.sub-title{
  @apply font-bold text-3xl mb-4 sm:text-4xl lg:text-5xl
}

.detail-title{
  @apply font-medium text-secondary md:text-lg
}

.portofolio-card{
  @apply mb-12 px-4 md:w-1/2 rounded-lg pb-2 hover:translate-y-2 hover:shadow-lg transition-all ease-in-out duration-700 
}

.portofolio-img{
  @apply rounded-md shadow-md overflow-hidden;
}

.portofolio-title{
  @apply font-semibold text-dark text-xl 2xl:text-2xl mt-5 mb-3
}

.portofolio-title-date{
  @apply text-slate-500 italic text-lg
}

.portofolio-detail{
  @apply font-normal text-base text-slate-600 italic
}

.blog-card{
  @apply bg-white rounded-xl shadow-lg mb-10 overflow-hidden group-hover:bg-blue-300/60 group-hover:translate-y-2 transition-all ease-in-out duration-700 
}

.blog-picture{
  @apply w-96 lg:w-full h-60 lg:h-72 object-cover flex-shrink-0 max-w-none group-hover:opacity-80;
}

.blog-detail{
  @apply py-8 px-8 h-60
}

.blog-title{
  @apply max-w-md lg:text-xl mb-3 font-semibold text-dark truncate group-hover:text-slate-500 duration-700 ease-in-out transition-all
}

.blog-desc-card{
  @apply w-full h-[96px] my-3
}

.blog-desc{
  @apply font-medium text-black mb-6 text-sm line-clamp-4 text-justify leading-relaxed group-hover:text-slate-500 duration-700 ease-in-out transition-all
}

.blog-link-bottom{
  @apply text-center w-44 font-medium text-sm text-white bg-primary py-2 px-4 rounded-md group-hover:opacity-80 duration-700 transition-all
}

.contact-input{
  @apply w-full bg-slate-200 text-dark p-3 rounded-md focus:outline-none focus:ring-primary focus:ring-1 focus:border-primary
}

.blog-page-nav{
  @apply text-black hover:underline hover:text-blue-500 duration-300 transition-all ease-in-out
}

.blog-page-title{
  @apply font-bold text-2xl mt-8
}

.blog-page-desc{
  @apply mt-4 leading-relaxed
}

a { 
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1600px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
